openapi: 3.1.0
info:
  title: Develop Health Public public-api API
  description: Develop Health Public API
  version: '1.0'
servers:
- url: https://api.develophealth.ai
tags:
- name: public-api
paths:
  /benefit-verification:
    post:
      tags:
      - public-api
      summary: Create Benefit Verification Route
      operationId: create_benefit_verification_route_benefit_verification_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateBenefitVerificationRequest'
              title: Data
              examples:
              - priority: 3
                drugs:
                - name: Wegovy
                  dosage: 0.25 mg
                  quantity: 1.0
                - name: Ozempic
                  dosage: 2.68 mg
                  quantity: 1.0
                - name: Mounjaro
                  dosage: 2.5 mg
                  quantity: 1.0
                drug_history:
                  currently_taking_drugs:
                  - name: Metformin
                  previously_taken_drugs:
                  - name: Jardiance
                  - name: Rybelsus
                diagnoses:
                - code: E66.9
                - code: I10
                insurance:
                - file_content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lzvN2QAAAABJRU5ErkJggg==
                - file_content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lzvN2QAAAABJRU5ErkJggg==
                patient:
                  internal_id: 39dca4a2-8788-4fd6-9e31-15c56e454322
                  first_name: John
                  last_name: Smith
                  gender: male
                  date_of_birth: '1980-01-01'
                  address:
                    street: 123 Main St, Apt 1
                    city: Los Angeles
                    state_province: CA
                    zip_postal_code: '94001'
                    country: USA
                  phone: 555-555-5555
                provider:
                  first_name: Jane
                  last_name: Green
                  address:
                    street: 9071 E. Mississippi Ave
                    city: Denver
                    state_province: CO
                    zip_postal_code: '80247'
                    country: USA
                  phone: '1231231234'
                  fax: None
                  npi: '0000000000'
                  in_network_payers: []
                entity:
                  legal_name: Test Entity
                  tax_id: '111223333'
                mock_result:
                  status: completed
                  case: drugs_covered__prior_auth_required__has_copay
                use_patient_plan_fund_source_check: false
        required: true
      responses:
        '200':
          description: Successful creation of a benefit verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBenefitVerificationResponse'
              example:
                status: success
                data:
                  id: bv_sdkfj3f
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - FronteggJWTAuthentication: []
  /benefit-verification/{id}:
    get:
      tags:
      - public-api
      summary: Get Benefit Verification Route
      operationId: get_benefit_verification_route_benefit_verification__id__get
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      responses:
        '200':
          description: Successfully returned a benefit verification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBenefitVerificationResponse'
              example:
                status: success
                data:
                  id: bv_dj3wiu
                  object: benefit_verification
                  status: completed
                  status_description: The verification was successful
                  review_status: not_reviewed
                  drugs:
                  - name: Wegovy
                    dosage: 0.25 mg
                    quantity: 1.0
                    coverage: covered
                    coverage_detail_code: insurer_reported_value
                    prior_authorization_required: 'yes'
                    copay: $30 for 28 days supply
                    copay_options:
                    - amount_cents: 3000
                      supply_duration_days: 28
                    determination_details:
                      is_on_formulary: true
                  - name: Ozempic
                    dosage: 2.68 mg
                    quantity: 1.0
                    coverage: covered
                    coverage_detail_code: insurer_reported_value
                    prior_authorization_required: 'yes'
                    copay: $30 for 28 days supply
                    copay_options:
                    - amount_cents: 3000
                      supply_duration_days: 28
                    determination_details:
                      is_on_formulary: true
                  - name: Mounjaro
                    dosage: 2.5 mg
                    quantity: 1.0
                    coverage: covered
                    coverage_detail_code: insurer_reported_value
                    prior_authorization_required: 'yes'
                    copay: $30 for 28 days supply
                    copay_options:
                    - amount_cents: 3000
                      supply_duration_days: 28
                    determination_details:
                      is_on_formulary: true
                  drug_history:
                    currently_taking_drugs:
                    - name: Metformin
                    previously_taken_drugs:
                    - name: Jardiance
                    - name: Rybelsus
                  diagnoses:
                  - code: E66.9
                  - code: I10
                  patient:
                    internal_id: 39dca4a2-8788-4fd6-9e31-15c56e454322
                    first_name: John
                    last_name: Smith
                    gender: male
                    date_of_birth: '1980-01-01'
                    address:
                      street: 123 Main St, Apt 1
                      city: Los Angeles
                      state_province: CA
                      zip_postal_code: '94001'
                      country: USA
                    phone: 555-555-5555
                  provider:
                    first_name: Jane
                    last_name: Green
                    address:
                      street: 9071 E. Mississippi Ave
                      city: Denver
                      state_province: CO
                      zip_postal_code: '80247'
                      country: USA
                    phone: '1231231234'
                    fax: None
                    npi: '0000000000'
                    in_network_payers: []
                  entity:
                    legal_name: Test Entity
                    tax_id: '111223333'
                  insurance:
                  - scanned_content:
                      client_name: Company
                      group_number: '12345678'
                      member_name: John Smith
                      member_number: '12345678'
                      payer_name: United
                      plan_name: Plus Plan
                      rx_bin: '123456'
                      rx_group: ADV
                      rx_pcn: FAC
                    discrete_content: {}
                    url: https://example.com/insurance_doc
                  - scanned_content:
                      error: Unable to extract information from card
                    discrete_content: {}
                    url: https://example.com/insurance_doc2
                  patient_coverage_status: covered
                  verification_methods:
                  - id: bva_23j3234
                    type: ai_call
                    transcript: Call transcript
                    recording_url: https://example.com/recording
                  patient_plan_fund_source: question_not_asked
                  patient_coverage_type: question_not_asked
                  priority: 2
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /benefit-verification/{id}/cancel:
    post:
      tags:
      - public-api
      summary: Cancel Benefit Verification Route
      operationId: cancel_benefit_verification_route_benefit_verification__id__cancel_post
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      responses:
        '204':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /clinical-qualification:
    post:
      tags:
      - public-api
      summary: Create Clinical Qualification Route
      operationId: create_clinical_qualification_route_clinical_qualification_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreateClinicalQualificationRequest'
              title: Data
              examples:
              - diagnoses:
                - code: E66.9
                evidence:
                - content:
                    bmi_value: 32
                    date_measured: '2023-11-10'
                  date_created: '2023-11-10T10:15:00'
                  title: BMI Chart
                - content:
                    medication_name: Metformin
                    response: No significant weight loss
                  date_created: '2023-11-10T10:15:00'
                  title: Previous Medication History
                patient:
                  address:
                    street: 123 Health St.
                    city: Wellness
                    state_province: CA
                    zip_postal_code: '12345'
                    country: USA
                  date_of_birth: '1980-01-01'
                  email: johndoe@email.com
                  first_name: John
                  last_name: Doe
                  gender: male
                  internal_id: '123456'
                  phone: 123-456-7890
                insurance:
                - file_content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lzvN2QAAAABJRU5ErkJggg==
                - file_content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lzvN2QAAAABJRU5ErkJggg==
                drugs:
                - days_supply: 30
                  quantity: 2
                  directions: Inject subcutaneously once a week
                  drug_name: Wegovy
                  strength: 0.25 mg/0.5 mL (0.25 mg dose)
                  dose_form: injectable
                  route_of_administration: subcutaneous
                - days_supply: 28
                  quantity: 1
                  directions: Inject subcutaneously once a week
                  drug_name: Ozempic
                  strength: 0.5 mg/dose
                  dose_form: injectable
                  route_of_administration: subcutaneous
                - days_supply: 28
                  quantity: 4
                  directions: Inject subcutaneously once a week
                  drug_name: Zepbound
                  strength: 1 mg/dose
                  dose_form: injectable
                  route_of_administration: subcutaneous
                provider:
                  address:
                    street: 456 Care Blvd.
                    city: Healtown
                    state_province: CA
                    zip_postal_code: '67890'
                    country: USA
                  fax: 987-654-3211
                  first_name: Alice
                  internal_id: provider_12345
                  last_name: Smith
                  npi: '1234567890'
                  phone: 987-654-3210
                questionnaires:
                - questions:
                  - answer: I usually eat a balanced diet and exercise 3 times a week.
                    question: Please describe your current diet and exercise routine.
                  - answer: Yes, I have tried metformin without significant results.
                    question: Have you previously tried other weight loss medications?
                  date_created: '2023-11-01T08:00:00'
                visit_notes:
                - content: Patient presents with a BMI of 32, indicating obesity. Recommended to start Wegovy for weight management.
                  date_created: '2023-11-10T10:00:00'
        required: true
      responses:
        '200':
          description: Successful creation of an clinical qualification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClinicalQualificationResponse'
              example:
                status: success
                data:
                  id: cq_sdkfj3f
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - FronteggJWTAuthentication: []
  /clinical-qualification/{id}:
    get:
      tags:
      - public-api
      summary: Get Clinical Qualification Submission By Id
      operationId: get_clinical_qualification_submission_by_id_clinical_qualification__id__get
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      responses:
        '200':
          description: Successfully returned an clinical qualification.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClinicalQualificationResponse'
              example:
                status: success
                data:
                  id: cq_sdkfj3f
                  object: clinical_qualification
                  diagnoses:
                  - code: E66.9
                  evidence:
                  - content:
                      bmi_value: 32
                      date_measured: '2023-11-10'
                    date_created: '2023-11-10T10:15:00'
                    title: BMI Chart
                  - content:
                      medication_name: Metformin
                      response: No significant weight loss
                    date_created: '2023-11-10T10:15:00'
                    title: Previous Medication History
                  patient:
                    address:
                      street: 123 Health St.
                      city: Wellness
                      state_province: CA
                      zip_postal_code: '12345'
                      country: USA
                    date_of_birth: '1980-01-01'
                    email: johndoe@email.com
                    first_name: John
                    last_name: Doe
                    gender: male
                    internal_id: '123456'
                    phone: 123-456-7890
                  insurance:
                  - scanned_content:
                      client_name: Company
                      group_number: '12345678'
                      member_name: John Doe
                      member_number: '12345678'
                      payer_name: United
                      plan_name: Plus Plan
                      rx_bin: '123456'
                      rx_group: ADV
                      rx_pcn: FAC
                    discrete_content: {}
                    url: https://example.com/insurance_doc
                  - scanned_content:
                      error: Unable to extract information from card
                    discrete_content: {}
                    url: https://example.com/insurance_doc2
                  drugs:
                  - days_supply: 30
                    quantity: 2
                    directions: Inject subcutaneously once a week
                    drug_name: Wegovy
                    strength: 0.25 mg/0.5 mL (0.25 mg dose)
                    dose_form: injectable
                    route_of_administration: subcutaneous
                  - days_supply: 28
                    quantity: 1
                    directions: Inject subcutaneously once a week
                    drug_name: Ozempic
                    strength: 0.5 mg/dose
                    dose_form: injectable
                    route_of_administration: subcutaneous
                  - days_supply: 28
                    quantity: 4
                    directions: Inject subcutaneously once a week
                    drug_name: Zepbound
                    strength: 1 mg/dose
                    dose_form: injectable
                    route_of_administration: subcutaneous
                  provider:
                    address:
                      street: 456 Care Blvd.
                      city: Healtown
                      state_province: CA
                      zip_postal_code: '67890'
                      country: USA
                    fax: 987-654-3211
                    first_name: Alice
                    internal_id: provider_12345
                    last_name: Smith
                    npi: '1234567890'
                    phone: 987-654-3210
                  questionnaires:
                  - questions:
                    - answer: I usually eat a balanced diet and exercise 3 times a week.
                      question: Please describe your current diet and exercise routine.
                    - answer: Yes, I have tried metformin without significant results.
                      question: Have you previously tried other weight loss medications?
                    date_created: '2023-11-01T08:00:00'
                  visit_notes:
                  - content: Patient presents with a BMI of 32, indicating obesity. Recommended to start Wegovy for weight management.
                    date_created: '2023-11-10T10:00:00'
                  results:
                  - drug:
                      days_supply: 30
                      quantity: 2
                      directions: Inject subcutaneously once a week
                      drug_name: Wegovy
                      strength: 0.25 mg/0.5 mL (0.25 mg dose)
                      dose_form: injectable
                      route_of_administration: subcutaneous
                    status: qualified
                    unqualified_reasons: []
                  - drug:
                      days_supply: 28
                      quantity: 4
                      directions: Inject subcutaneously once a week
                      drug_name: Zepbound
                      strength: 1 mg/dose
                      dose_form: injectable
                      route_of_administration: subcutaneous
                    status: qualified
                    unqualified_reasons: []
                  - drug:
                      days_supply: 28
                      quantity: 1
                      directions: Inject subcutaneously once a week
                      drug_name: Ozempic
                      strength: 0.5 mg/dose
                      dose_form: injectable
                      route_of_administration: subcutaneous
                    status: unqualified
                    unqualified_reasons:
                    - description: The patient does not have a diagnosis of type 2 diabetes.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /prior-authorization/{id}/cancel:
    post:
      tags:
      - public-api
      summary: Cancel Prior Auth Submission By Id
      description: 'Cancel a prior authorization request.


        The request must not already be in a terminal state (`completed`, `failed`,

        or `cancelled`). Requires a `cancellation_reason` payload which is stored

        for analytics.'
      operationId: cancel_prior_auth_submission_by_id_prior_authorization__id__cancel_post
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Request Data
              allOf:
              - $ref: '#/components/schemas/CancelPriorAuthRequest'
      responses:
        '200':
          description: Successfully cancelled a prior authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPriorAuthResponse'
              example:
                status: success
        '400':
          content:
            application/json:
              example:
                detail: 'Cannot cancel a prior authorization request with status: COMPLETED'
          description: Cannot cancel a prior authorization in completed, failed, or cancelled state
        '404':
          content:
            application/json:
              example:
                detail: Prior Authorization Request does not exist.
          description: Prior Authorization Request does not exist
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /prior-authorization/{id}/feedback:
    post:
      tags:
      - public-api
      summary: Submit Prior Auth Feedback
      description: 'Submit feedback related to a prior authorization request.


        The feedback is used to improve the product and is surfaced in analytics dashboards.'
      operationId: submit_prior_auth_feedback_prior_authorization__id__feedback_post
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Request Data
              allOf:
              - $ref: '#/components/schemas/PriorAuthFeedbackRequest'
      responses:
        '201':
          description: Successfully submitted feedback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriorAuthFeedbackResponse'
              example:
                status: success
        '404':
          content:
            application/json:
              example:
                detail: Prior Authorization Request does not exist.
          description: Prior Authorization Request does not exist
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /prior-authorization/{id}/ndp-submission:
    patch:
      tags:
      - public-api
      summary: Update Ndp Submission By Id
      description: 'Update the preferred pharmacy NCPDP ID for a prior authorization''s NDP

        submission. Only allowed while the PA request is active and no transfer

        attempts have been made.'
      operationId: update_ndp_submission_by_id_prior_authorization__id__ndp_submission_patch
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              title: Request Data
              allOf:
              - $ref: '#/components/schemas/UpdateNDPSubmissionRequest'
      responses:
        '200':
          description: Successfully updated preferred pharmacy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateNDPSubmissionResponse'
              example:
                status: success
                data:
                  preferred_pharmacy_ncpdp_id: '1234567'
        '400':
          content:
            application/json:
              example:
                detail: 'Cannot update preferred pharmacy for a prior authorization request with status: COMPLETED'
          description: Cannot update preferred pharmacy for terminal PA requests.
        '404':
          content:
            application/json:
              example:
                detail: Prior Authorization Request does not exist.
          description: Prior Authorization Request does not exist.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /prior-authorization/{id}/prescription-transfer/cancel:
    post:
      tags:
      - public-api
      summary: Cancel Prescription Transfer By Id
      description: Cancel the prescription transfer for a prior authorization with NDP submission.
      operationId: cancel_prescription_transfer_by_id_prior_authorization__id__prescription_transfer_cancel_post
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      responses:
        '200':
          description: Successfully cancelled prescription transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelPriorAuthPrescriptionTransferResponse'
              example:
                status: success
        '400':
          content:
            application/json:
              example:
                detail: Cannot cancel prescription transfer due to completed status
          description: Cannot cancel prescription transfer in completed state
        '404':
          content:
            application/json:
              example:
                detail: Prior Authorization Request does not exist.
          description: Prior Authorization Request does not exist
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /prior-authorization:
    post:
      tags:
      - public-api
      summary: Create Prior Auth Route
      operationId: create_prior_auth_route_prior_authorization_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/CreatePriorAuthRequest'
              title: Data
              examples:
              - diagnoses:
                - code: E66.9
                evidence:
                - content:
                    bmi_value: 32
                    date_measured: '2023-11-10'
                  date_created: '2023-11-10T10:15:00'
                  title: BMI Chart
                - content:
                    medication_name: Metformin
                    response: No significant weight loss
                  date_created: '2023-11-10T10:15:00'
                  title: Previous Medication History
                patient:
                  address:
                    street: 123 Health St.
                    city: Wellness
                    state_province: CA
                    zip_postal_code: '12345'
                    country: USA
                  date_of_birth: '1980-01-01'
                  email: johndoe@email.com
                  first_name: John
                  last_name: Doe
                  gender: male
                  internal_id: '123456'
                  phone: 123-456-7890
                insurance:
                - file_content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lzvN2QAAAABJRU5ErkJggg==
                - file_content: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAFgwJ/lzvN2QAAAABJRU5ErkJggg==
                prescription:
                  days_supply: 30
                  quantity: 2
                  directions: Inject subcutaneously once a week
                  drug_name: Wegovy
                  strength: 0.25 mg/0.5 mL (0.25 mg dose)
                  dose_form: injectable
                  route_of_administration: subcutaneous
                  extra:
                    prescribing_information: Prescribed for weight management in patients with obesity
                  prescription_date: '2024-02-14T05:46:07.764000'
                provider:
                  address:
                    street: 456 Care Blvd.
                    city: Healtown
                    state_province: CA
                    zip_postal_code: '67890'
                    country: USA
                  fax: 987-654-3211
                  first_name: Alice
                  internal_id: provider_12345
                  last_name: Smith
                  npi: '1234567890'
                  phone: 987-654-3210
                pharmacy:
                  name: Walgreens
                  address:
                    street: 789 Pharmacy Ave.
                    city: Medtown
                    state_province: MD
                    zip_postal_code: '12345'
                    country: USA
                questionnaires:
                - questions:
                  - answer: I usually eat a balanced diet and exercise 3 times a week.
                    question: Please describe your current diet and exercise routine.
                  - answer: Yes, I have tried metformin without significant results.
                    question: Have you previously tried other weight loss medications?
                  date_created: '2023-11-01T08:00:00'
                visit_notes:
                - content: Patient presents with a BMI of 32, indicating obesity. Recommended to start Wegovy for weight management.
                  date_created: '2023-11-10T10:00:00'
                priority: 2
        required: true
      responses:
        '200':
          description: Successful creation of a prior authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePriorAuthResponse'
              example:
                status: success
                data:
                  id: pa_sdkfj3f
        '400':
          description: API error during creation of the prior authorization request
          content:
            application/json:
              example:
                status: error
                error:
                  title: Unsupported Drug
                  description: The drug you submitted is not yet supported for prior authorization.
                  code: unsupported_drug
        '409':
          description: 'Conflict: prescription message already linked to existing prior authorization'
          content:
            application/json:
              example:
                status: error
                error:
                  title: Prescription Already Linked
                  description: The prescription_message_id provided is already linked to a prior authorization request that is in progress or has already been completed as approved. The existing PA request must be cancelled before submitting a new request for the same prescription.
                  code: prescription_message_already_linked
                  existing_prior_auth_request_id: par_example123
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - FronteggJWTAuthentication: []
  /prior-authorization/{id}:
    get:
      tags:
      - public-api
      summary: Get Prior Auth Submission By Id
      operationId: get_prior_auth_submission_by_id_prior_authorization__id__get
      security:
      - FronteggJWTAuthentication: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          title: Id
      responses:
        '200':
          description: Successfully returned a prior authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPriorAuthResponse'
              example:
                status: success
                data:
                  id: pa_sdkfj3f
                  object: prior_authorization
                  url: https://platform.develophealth.ai/prior-authorizations/pa_sdkfj3f
                  status: completed
                  diagnoses:
                  - code: E66.9
                  evidence:
                  - content:
                      bmi_value: 32
                      date_measured: '2023-11-10'
                    date_created: '2023-11-10T10:15:00'
                    title: BMI Chart
                  - content:
                      medication_name: Metformin
                      response: No significant weight loss
                    date_created: '2023-11-10T10:15:00'
                    title: Previous Medication History
                  patient:
                    address:
                      street: 123 Health St.
                      city: Wellness
                      state_province: CA
                      zip_postal_code: '12345'
                      country: USA
                    date_of_birth: '1980-01-01'
                    email: johndoe@email.com
                    first_name: John
                    last_name: Doe
                    gender: male
                    internal_id: '123456'
                    phone: 123-456-7890
                  insurance:
                  - scanned_content:
                      client_name: Company
                      group_number: '12345678'
                      member_name: John Doe
                      member_number: '12345678'
                      payer_name: United
                      plan_name: Plus Plan
                      rx_bin: '123456'
                      rx_group: ADV
                      rx_pcn: FAC
                    discrete_content: {}
                    url: https://example.com/insurance_doc
                  - scanned_content:
                      error: Unable to extract information from card
                    discrete_content: {}
                    url: https://example.com/insurance_doc2
                  prescription:
                    days_supply: 30
                    quantity: 2
                    directions: Inject subcutaneously once a week
                    drug_name: Wegovy
                    strength: 0.25 mg/0.5 mL (0.25 mg dose)
                    dose_form: injectable
                    route_of_administration: subcutaneous
                    extra:
                      prescribing_information: Prescribed for weight management in patients with obesity
                    prescription_date: '2024-02-14T05:46:07.764000'
                  provider:
                    address:
                      street: 456 Care Blvd.
                      city: Healtown
                      state_province: CA
                      zip_postal_code: '67890'
                      country: USA
                    fax: 987-654-3211
                    first_name: Alice
                    internal_id: provider_12345
                    last_name: Smith
                    npi: '1234567890'
                    phone: 987-654-3210
                  pharmacy:
                    name: Walgreens
                    address:
                      street: 789 Pharmacy Ave.
                      city: Medtown
                      state_province: MD
                      zip_postal_code: '12345'
                      country: USA
                  questionnaires:
                  - questions:
                    - answer: I usually eat a balanced diet and exercise 3 times a week.
                      question: Please describe your current diet and exercise routine.
                    - answer: Yes, I have tried metformin without significant results.
                      question: Have you previously tried other weight loss medications?
                    date_created: '2023-11-01T08:00:00'
                  visit_notes:
                  - content: Patient presents with a BMI of 32, indicating obesity. Recommended to start Wegovy for weight management.
                    date_created: '2023-11-10T10:00:00'
                  activity_log:
                  - id: sent_fax__S4382DA
                    created_at: '2024-02-14T02:01:02'
                    type: sent_fax
                    details:
                      url: https://example.com/sent_fax
                  - id: rec_fax__SJ34WX
                    created_at: '2024-02-14T05:46:07'
                    type: received_fax
                    details:
                      url: https://example.com/received_fax
                  - id: pa_follow_up_call__BF9AJ56
                    created_at: '2024-02-14T05:50:10'
                    type: follow_up_call
                    details:
                      notes: Called Example PBM and ...
                      recording_url: https://example.com/follow_up_call_recording
                      transcript: Hello, this is Example PBM ...
                  submitted_by:
                    first_name: John
                    last_name: Doe
                    email: johndoe@email.com
                  reviewed_by:
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@email.com
                  denial_reason_analysis:
                    categories:
                    - Preferred Products Not Tried First
                    explanation: The prior authorization request for Zepbound (tirzepatide) was denied because the patient's health plan requires ...
                    next_steps: Discuss with Provider
                    next_steps_explanation: The denial was due to the requirement to try a primary covered drug, Wegovy, before Zepbound can be approved. The client should discuss with the provider ...
                  is_appeal: false
                  patient_consent_required: false
                  outcome:
                    detail: Step Therapy Criteria Not Met
                    result: Denied
                    detail_code: step_therapy_criteria_not_met
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /status:
    get:
      tags:
      - public-api
      summary: Get Status Route
      description: "Handles GET requests at the '/status' endpoint.\n\nThis route function is designed to provide a quick status check of the API.\nWhen called, it returns a JSON response indicating the operational status of the API.\n\nReturns:\n    ApiResponse: An object of ApiResponse schema which includes a 'status' key set to 'success'\n                 and a 'data' key containing a message about the API's operational status."
      operationId: get_status_route_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security:
      - FronteggJWTAuthentication: []
  /provider/authorize:
    post:
      tags:
      - public-api
      summary: Authorize Provider
      operationId: authorize_provider_provider_authorize_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AuthorizeProviderRequest'
              title: Data
        required: true
      responses:
        '200':
          description: Successful initiation of provider authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              example:
                status: success
        '400':
          description: Provider authorization already initiated
          content:
            application/json:
              example:
                status: error
                error:
                  title: Provider Authorization Already Initiated
                  description: Authorization has already been initiated for a provider with this NPI or email
                  code: PROVIDER_AUTHORIZATION_ALREADY_INITIATED
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - FronteggJWTAuthentication: []
  /authorized-providers:
    get:
      tags:
      - public-api
      summary: Get Authorized Providers
      description: "Retrieve all authorized providers for the organization.\n\nReturns a list of providers that have been authorized or are pending authorization.\nProviders with signed_at=null are pending authorization (they haven't signed the form yet).\nProviders with signed_at populated have completed the authorization process.\n\nReturns:\n    ApiResponse containing a list of AuthorizedProviderResponse objects"
      operationId: get_authorized_providers_authorized_providers_get
      responses:
        '200':
          description: Successfully retrieved authorized providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_list_api.schemas.platform.public_api.provider.AuthorizedProviderResponse__'
              example:
                status: success
                data:
                - npi: '1234567890'
                  first_name: John
                  last_name: Doe
                  email: john.doe@example.com
                  signed_at: '2024-01-15T10:30:00Z'
                - npi: 0987654321
                  first_name: Jane
                  last_name: Smith
                  email: jane.smith@example.com
      security:
      - FronteggJWTAuthentication: []
  /provider/lookup:
    post:
      tags:
      - public-api
      summary: Lookup Provider
      description: 'Look up a provider by NPI or by name+state.


        NPI mode: returns ``active``, ``deactivated`` (with name+state search

        candidates seeded from the deactivated record''s name), ``not_found``, or

        ``registry_error``. Sandbox organizations may receive an ``active``

        mock identity when the NPI is absent from the registry. Deactivated

        records with no name on file return an empty candidate list — the FE

        prompts for manual name+state entry.


        Name mode: ``last_name`` is required, ``first_name`` and ``state`` are

        optional. Always returns ``search_results`` (the candidate list may be

        empty when no match is found).'
      operationId: lookup_provider_provider_lookup_post
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/ProviderLookupRequest'
              title: Body
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProviderLookupResponse_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - FronteggJWTAuthentication: []
components:
  schemas:
    DrugHistoryItem:
      properties:
        name:
          type: string
          title: Name
          description: The name of the drug.
      type: object
      required:
      - name
      title: DrugHistoryItem
      description: Represents information about a currently or previously taken drug.
    Diagnosis:
      properties:
        code:
          type: string
          title: Code
          description: ICD-10 code for the diagnosis. i.e. 'E66.9'
      type: object
      required:
      - code
      title: Diagnosis
      description: Represents a medical diagnosis with a code and description.
    InsuranceDocumentInfo:
      properties:
        scanned_content:
          allOf:
          - $ref: '#/components/schemas/ScannedContent'
          title: Scanned Content
          description: An object containing details that were extracted from the insurance card images provided in the creation request.
        discrete_content:
          allOf:
          - $ref: '#/components/schemas/PartialInsuranceInfo'
          title: Discrete Content
          description: An object containing manually-provided insurance details from the creation request.
        url:
          type: string
          title: Url
          description: If applicable, the Base64 encoded insurance card image you send in the request is stored on our servers. A signed URL to the image is returned here. This URL has a short expiry time, so you should download the image immediately after receiving it if you want to view the asset.
      type: object
      required:
      - scanned_content
      - discrete_content
      title: InsuranceDocumentInfo
    PriorAuthSubmissionDenialOutcome:
      properties:
        detail:
          type: string
          maxLength: 2048
          title: Detail
          description: A human-readable note providing additional information about the outcome. This will usually be an automated message corresponding to `detail_code`. In some cases it will contain more specific details about the outcome. For example, "Patient must enroll in the Omada Health Program."
        result:
          type: string
          enum:
          - Denied
          const: Denied
          title: Result
          description: The Prior Authorization has been denied.
          default: Denied
        detail_code:
          allOf:
          - $ref: '#/components/schemas/PriorAuthOutcomeDenialDetail'
          description: 'A code indicating the reason for the prior auth outcome. The possible values are:

            - **formulary_alternative_preferred**: The formulary alternative is preferred.

            - **medical_necessity_criteria_not_met**: The medical necessity criteria are not met.

            - **plan_exclusion**: The drug is excluded by the plan.

            - **step_therapy_criteria_not_met**: The step therapy criteria are not met.

            - **existing_denial**: An existing denial is on file for this medication and patient. Please follow the appeals process if you wish to adjust this outcome

            - **coverage_limits_exceeded**: The coverage limits have been exceeded for this patient''s plan.

            - **prior_weight_loss_program_required**: The patient has not completed the required weight loss program prior to therapy.

            - **unknown**: The prior authorization request has been denied.'
        client_code:
          type: string
          title: Client Code
          description: A client-specific outcome code for the prior authorization request. This field is only populated for clients with custom client codes configured. To configure your outcome codes, please contact support.
      type: object
      title: PriorAuthSubmissionDenialOutcome
    BenefitVerificationMethodInfo:
      properties:
        id:
          type: string
          title: Id
          description: The ID of the verification method.
        type:
          type: string
          title: Type
          description: The type of the verification method.
        transcript:
          type: string
          title: Transcript
          description: The call transcript
        recording_url:
          type: string
          title: Recording Url
          description: The URL to the call recording
      type: object
      required:
      - id
      - type
      title: BenefitVerificationMethodInfo
      description: Represents the verification method used in a benefit verification response.
    DoseForm:
      type: string
      enum:
      - aerosol
      - bar
      - bead
      - breadstick
      - bulk
      - capsule
      - catheter
      - cement
      - cigarette
      - cloth
      - concentrate
      - cone
      - cream
      - crystal
      - culture
      - dentifrice
      - deposit
      - device
      - diaphragm
      - disc
      - douche
      - dressing
      - drops
      - elixir
      - emulsion
      - enema
      - extract
      - film
      - food
      - foam
      - gel
      - generator
      - globule
      - graft
      - gum
      - implant
      - infusion
      - inhalant
      - inhalation
      - inhaler
      - injectable
      - injection
      - insert
      - irrigant
      - irrigation
      - jelly
      - kit
      - lens
      - liner
      - liniment
      - lipstick
      - liquid
      - lollipop
      - lotion
      - lozenge
      - miscellaneous
      - mouthwash
      - mucilage
      - oil
      - ointment
      - packing
      - paste
      - pastille
      - patch
      - pellet
      - pill
      - plaster
      - poultice
      - powder
      - resin
      - ring
      - rinse
      - rod
      - salve
      - shampoo
      - soap
      - sol
      - solution
      - sponge
      - spray
      - stick
      - strip
      - suppository
      - suspension
      - suture
      - swab
      - syrup
      - tablet
      - tampon
      - tape
      - tea
      - test
      - tincture
      - troche
      - vaginal_suppository
      - vaginal_tablet
      - wafer
      - wash
      - wax
      title: DoseForm
      description: An enumeration.
    PatientCoverageStatus:
      type: string
      enum:
      - patient_not_found
      - coverage_expired
      - coverage_not_started
      - covered
      - patient_not_covered_unspecified
      - human_unable_to_answer
      - missing_from_transcript
      - unknown
      title: PatientCoverageStatus
      description: An enumeration.
    CreateBenefitVerificationResponseData:
      properties:
        id:
          type: string
          title: Id
          description: A unique identifier for the benefit verification result.
      type: object
      required:
      - id
      title: CreateBenefitVerificationResponseData
      description: Represents the data contained in the response for a create benefit verification request.
    Gender:
      type: string
      enum:
      - male
      - female
      - other
      - not_specified
      title: Gender
      description: An enumeration.
    DrugCoverageDeterminationDetails:
      properties:
        is_on_formulary:
          type: boolean
          title: Is On Formulary
          description: Whether the drug is on the formulary for the patient's plan.
          nullable: true
        is_explicit_plan_exclusion:
          type: boolean
          title: Is Explicit Plan Exclusion
          description: Whether the drug is explicitly excluded from the patient's plan.
          nullable: true
        is_prior_auth_acting_as_exception_request:
          type: boolean
          title: Is Prior Auth Acting As Exception Request
          description: Whether the prior authorization is acting as an exception request. This is only applicable if the drug is not on the formulary.
          nullable: true
      type: object
      title: DrugCoverageDeterminationDetails
    RouteOfAdministration:
      type: string
      enum:
      - auricular (otic)
      - otic
      - buccal
      - conjunctival
      - cutaneous
      - dental
      - electro-osmosis
      - endocervical
      - endosinusial
      - endotracheal
      - enteral
      - epidural
      - extra-amniotic
      - extracorporeal
      - hemodialysis
      - infiltration
      - interstitial
      - intra-abdominal
      - intra-amniotic
      - intra-arterial
      - intra-articular
      - intrabiliary
      - intrabronchial
      - intrabursal
      - intracameral
      - intracanalicular
      - intracardiac
      - intracartilaginous
      - intracaudal
      - intracavernous
      - intracavitary
      - intracerebral
      - intracisternal
      - intracorneal
      - intracoronal, dental
      - intracoronary
      - intracorporus cavernosum
      - intracranial
      - intradermal
      - intradiscal
      - intraductal
      - intraduodenal
      - intradural
      - intraepicardial
      - intraepidermal
      - intraesophageal
      - intragastric
      - intragingival
      - intrahepatic
      - intraileal
      - intralesional
      - intralingual
      - intraluminal
      - intralymphatic
      - intramammary
      - intramedullary
      - intrameningeal
      - intramuscular
      - intranodal
      - intraocular
      - intraomentum
      - intraovarian
      - intrapericardial
      - intraperitoneal
      - intrapleural
      - intraprostatic
      - intrapulmonary
      - intraruminal
      - intrasinal
      - intraspinal
      - intrasynovial
      - intratendinous
      - intratesticular
      - intrathecal
      - intrathoracic
      - intratubular
      - intratumor
      - intratympanic
      - intrauterine
      - intravascular
      - intravenous
      - intraventricular
      - intravesical
      - intravitreal
      - iontophoresis
      - irrigation
      - laryngeal
      - nasal
      - nasogastric
      - not applicable
      - occlusive dressing technique
      - ophthalmic
      - oral
      - oropharyngeal
      - parenteral
      - percutaneous
      - periarticular
      - peridural
      - perineural
      - periodontal
      - rectal
      - respiratory (inhalation)
      - inhalation
      - retrobulbar
      - soft tissue
      - subarachnoid
      - subconjunctival
      - subcutaneous
      - subgingival
      - sublingual
      - submucosal
      - subretinal
      - suprachoroidal
      - topical
      - transdermal
      - transendocardial
      - transmucosal
      - transplacental
      - transtracheal
      - transtympanic
      - ureteral
      - urethral
      - vaginal
      title: RouteOfAdministration
      description: 'See: https://www.fda.gov/industry/structured-product-labeling-resources/route-administration'
    PriorAuthOutcomeDenialDetail:
      type: string
      enum:
      - formulary_alternative_preferred
      - medical_necessity_criteria_not_met
      - plan_exclusion
      - step_therapy_criteria_not_met
      - existing_denial
      - coverage_limits_exceeded
      - prior_weight_loss_program_required
      - unknown
      title: PriorAuthOutcomeDenialDetail
      description: An enumeration.
    UnqualifiedReason:
      properties:
        description:
          type: string
          title: Description
          description: Reason for ineligibility. This is a free text field that could include any text.
      type: object
      required:
      - description
      title: UnqualifiedReason
      description: 'Represents the reason why a drug is not eligible for a clinical qualification check.


        More structured fields will be added to this model in the future.'
    TriggerBenefitVerificationConfig:
      properties:
        enabled:
          type: boolean
          title: Enabled
          description: Whether to trigger a benefit verification when creating this PA.
        additional_medications:
          items:
            $ref: '#/components/schemas/TriggerBenefitVerificationMedication'
          type: array
          title: Additional Medications
          description: Additional medications to check coverage for alongside the prescribed medication.
      type: object
      required:
      - enabled
      title: TriggerBenefitVerificationConfig
    TriggerBenefitVerificationMedication:
      properties:
        ndc:
          type: string
          title: Ndc
          description: The NDC of the additional medication to check coverage for.
        quantity:
          type: integer
          title: Quantity
          description: The quantity of the medication to check coverage for.
      type: object
      required:
      - ndc
      - quantity
      title: TriggerBenefitVerificationMedication
    PriorAuthSubmissionOtherOutcome:
      properties:
        detail:
          type: string
          maxLength: 2048
          title: Detail
          description: A human-readable note providing additional information about the outcome. This will usually be an automated message corresponding to `detail_code`. In some cases it will contain more specific details about the outcome. For example, "Patient must enroll in the Omada Health Program."
        result:
          type: string
          enum:
          - Other
          const: Other
          title: Result
          description: The Prior Authorization has completed without an approval/denial determination.
          default: Other
        detail_code:
          allOf:
          - $ref: '#/components/schemas/PriorAuthOutcomeOtherDetailPublic'
          description: 'A code indicating the reason for the prior auth outcome. The possible values are:

            - **coverage_inactive**: The patient''s coverage has expired.

            - **coverage_not_yet_started**: The patient''s coverage has not yet started.

            - **no_pharmacy_benefits**: The patient''s insurance does not include pharmacy benefits.

            - **payer_unable_to_locate_member**: The payer could not locate the member in their system.

            - **npi_taxonomy_ineligible**: The payer rejected the request because the prescriber''s NPI taxonomy, provider type, specialty, or credentials are not eligible to submit this prior authorization.

            - **payer_reported_invalid_patient_info**: The payer located the patient in their system but some submitted patient information does not match.

            - **duplicate_request**: The request is a duplicate. Please cancel the existing request and resubmit if needed.

            - **prior_auth_not_required**: A prior authorization is not required for this medication.

            - **patient_consent_required**: The payer requires verbal consent from the patient before discussing or processing the prior authorization.

            - **more_information_required**: Insufficient information provided to complete the prior authorization.

            - **other**: A problem not listed here was encountered. Check the `outcome.detail` field for more information.'
      type: object
      title: PriorAuthSubmissionOtherOutcome
    PriorAuthActivityLogFollowUpCall:
      properties:
        id:
          type: string
          title: Id
        created_at:
          type: string
          format: date-time
          title: Created At
        type:
          type: string
          enum:
          - follow_up_call
          title: Type
          default: follow_up_call
        details:
          $ref: '#/components/schemas/PriorAuthActivityLogFollowUpCallDetails'
      type: object
      required:
      - id
      - created_at
      - details
      title: PriorAuthActivityLogFollowUpCall
    CreateClinicalQualificationResponse:
      properties:
        status:
          anyOf:
          - type: string
            enum:
            - success
          - type: string
            enum:
            - error
          title: Status
          default: success
        error:
          $ref: '#/components/schemas/ApiError'
        data:
          allOf:
          - $ref: '#/components/schemas/CreateClinicalQualificationResponseData'
          title: Data
          description: Data payload of the response, containing details of the created clinical qualification request, or None if the request was unsuccessful.
      type: object
      title: CreateClinicalQualificationResponse
      description: Models the response received upon creating a clinical qualification request.
    RealTimeBenefitsCheckResponse:
      properties:
        patient_cost:
          type: string
          title: Patient Cost
          description: Patient cost for the requested prescription
        prior_auth_required:
          type: boolean
          title: Prior Auth Required
          description: Whether a prior authorization is required for the requested prescription
        alternatives:
          items:
            $ref: '#/components/schemas/RealTimeBenefitsCheckAlternative'
          type: array
          title: Alternatives
          description: List of alternative drugs
      type: object
      required:
      - patient_cost
      title: RealTimeBenefitsCheckResponse
    CreatePriorAuthResponseError:
      properties:
        title:
          type: string
          title: Title
          description: A brief title summarizing the error.
        description:
          type: string
          title: Description
          description: A detailed message explaining the error. These messages may be unique to the specific prior authorization request.
        code:
          allOf:
          - $ref: '#/components/schemas/PriorAuthErrorCode'
          description: "A specific code identifying the error. While we'll aim to ensure that the occurence of these errors is minimal, it's likely they will occur. To prevent delays to patient care, we generally recommend that you implement a strategy of falling back to your existing process for handling a prior authorization if you encounter one of these errors. The Develop Health team will then work with you in parallel to fix the issue. The following codes are currently possible: \n- **unsupported_patient**: This means that the patient you submitted the prior authorization for is not currently supported. We're rapidly increasing our PBM and payer coverage, so we'll be reducing the occurrence of these over time.\n- **unsupported_drug**: The drug you submitted is not yet supported for prior authorization.\n- **insurance_card_member_id_ocr_failure**: We were unable to extract the member ID from the insurance card image provided and no discrete values were provided.\n- **insurance_content_invalid_rx_bin**: The Rx BIN provided in the insurance content is invalid. This should be a 6 digit number.\n- **prescription_message_not_found**: The prescription_message_id provided does not correspond to any known prescription.\n- **prescription_message_already_linked**: The prescription_message_id provided is already linked to a prior authorization request that is in progress or has already been completed as approved. The existing PA request must be cancelled before submitting a new request for the same prescription.\n- **provider_not_authorized**: The NPI provided is not authorized to submit requests. To enable prior authorization requests for this provider, please complete the provider authorization process.\n- **evidence_file_download_failed**: The evidence file could not be downloaded from the provided URL.\n- **invalid_qle_resubmission**: Quantity limit exception resubmissions are only allowed when the previous prior authorization was approved or was not required.\n- **previous_pa_request_in_progress**: The previous prior authorization request referenced in resubmission_info is still in progress. It must be completed or cancelled before a new resubmission can be created.\n- **other**: An unexpected error occurred during the prior authorization process."
          choices:
          - - unsupported_patient
            - unsupported_patient
          - - unsupported_drug
            - unsupported_drug
          - - insurance_card_member_id_ocr_failure
            - insurance_card_member_id_ocr_failure
          - - insurance_content_invalid_rx_bin
            - insurance_content_invalid_rx_bin
          - - prescription_message_not_found
            - prescription_message_not_found
          - - prescription_message_already_linked
            - prescription_message_already_linked
          - - provider_not_authorized
            - provider_not_authorized
          - - evidence_file_download_failed
            - evidence_file_download_failed
          - - invalid_qle_resubmission
            - invalid_qle_resubmission
          - - previous_pa_request_in_progress
            - previous_pa_request_in_progress
          - - other
            - other
        existing_prior_auth_request_id:
          type: string
          title: Existing Prior Auth Request Id
          description: Identifier of an existing prior authorization request related to this error.
      type: object
      required:
      - title
      - code
      title: CreatePriorAuthResponseError
    ProviderIdentitySchema:
      properties:
        npi:
          type: string
          title: Npi
        first_name:
          type: string
          title: First Name
        last_name:
          type: string
          title: Last Name
        middle_name:
          type: string
          title: Middle Name
        name_prefix:
          type: string
          title: Name Prefix
        name_suffix:
          type: string
          title: Name Suffix
        credential:
          type: string
          title: Credential
        status:
          type: string
          title: Status
          description: 'Registry status code: ''A'' or ''D''.'
        practice_address:
          allOf:
          - $ref: '#/components/schemas/OptionalAddress'
          title: Practice Address
          description: The primary practice address, if any.
        addresses:
          items:
            $ref: '#/components/schemas/PracticeLocation'
          type: array
          title: Addresses
          description: All practice locations the registry has for this provider, in the order CMS reports them. Each location pairs the postal address with the phone/fax recorded for it.
      type: object
      required:
      - npi
      - first_name
      - last_name
      - status
      title: ProviderIdentitySchema
      description: Identity fields surfaced from a registry record.
    PriorAuthSubmissionNotSubmittedOutcome:
      properties:
        detail:
          type: string
          maxLength: 2048
          title: Detail
          description: A human-readable note providing additional information about the outcome. This will usually be an automated message corresponding to `detail_code`. In some cases it will contain more specific details about the outcome. For example, "Patient must enroll in the Omada Health Program."
        result:
          type: string
          enum:
          - Not Submitted
          const: Not Submitted
          title: Result
          description: The prior authorization request will not be submitted. For example, when the eligibility check is enabled and the check returns as error.
          default: Not Submitted
        detail_code:
          allOf:
          - $ref: '#/components/schemas/PriorAuthOutcomeNotSubmittedDetail'
          description: 'A code indicating the reason for the prior auth outcome. The possible values are:

            - **eligibility_check_error**: Indicates eligibility check encountered an error. Error details will be surfaced in the `eligibility_check_response` field. This status will not happen if `ndp_submission.ignore_eligibility_check_error` was set to True for the PA request.

            - **eligibility_check_government_plan**: Indicates that the eligibility check revealed the patient has only government insurance plan(s). The `eligibility_check_response` field will contain the successful eligibility check response. This status will not happen if `ndp_submission.submit_pa_with_eligibility_check_government_plan` was set to True for the PA request.

            - **prescription_message_not_found**: Indicates the provided prescription message ID does not correspond to a prescription. This can happen if the eScript received to the NDP could not be converted into a valid prescription.

            - **more_information_required**: Indicates that additional information is required before this request can be submitted. The request was not submitted and should be resubmitted with the additional details.

            - **formulary_alternative_required**: Indicates that the patient needs to try a formulary alternative before the PA can be approved. The request was not submitted and should instead be submitted for the formulary alternative outlined in the outcome message.

            - **benefit_verification_no_medication_coverage**: Indicates that a triggered benefit verification determined the prescribed medication is not covered by the patient''s plan.

            - **benefit_verification_only_alternative_medication_covered**: Indicates that a triggered benefit verification determined the prescribed medication is not covered, but an alternative medication specified in the request is covered.

            - **benefit_verification_pa_not_required**: Indicates that a triggered benefit verification determined the prescribed medication is covered and does not require prior authorization.

            - **pbm_excluded**: Indicates that the eligibility check revealed only an excluded PBM payer and the PA was not submitted. The `eligibility_check_response` field will contain the successful eligibility check response.

            - **payer_not_supported**: Indicates that the eligibility check revealed the patient''s health plan is not supported. Currently, Kaiser health plans are not supported. The `eligibility_check_response` field will contain the successful eligibility check response.'
      type: object
      title: PriorAuthSubmissionNotSubmittedOutcome
    ApiResponse_ProviderLookupResponse_:
      properties:
        status:
          anyOf:
          - type: string
            enum:
            - success
          - type: string
            enum:
            - error
          title: Status
          default: success
        error:
          $ref: '#/components/schemas/ApiError'
        data:
          $ref: '#/components/schemas/ProviderLookupResponse'
      type: object
      title: ApiResponse[ProviderLookupResponse]
    PriorAuthOutcomeOtherDetailPublic:
      type: string
      enum:
      - coverage_inactive
      - coverage_not_yet_started
      - no_pharmacy_benefits
      - payer_unable_to_locate_member
      - npi_taxonomy_ineligible
      - payer_reported_invalid_patient_info
      - duplicate_request
      - prior_auth_not_required
      - patient_consent_required
      - more_information_required
      - other
      title: PriorAuthOutcomeOtherDetailPublic
      description: Public version of PriorAuthOutcomeOtherDetail. This is used in the API response.
    Prescription:
      properties:
        days_supply:
          type: integer
          title: Days Supply
          description: The number of days the prescription will be expected to last.
        quantity:
          type: integer
          title: Quantity
          description: The quantity of the medication.
        directions:
          type: string
          minLength: 1
          title: Directions
          description: Instructions on how the medication should be taken.
        drug_name:
          type: string
          minLength: 1
          title: Drug Name
          description: The name of the medication.
        strength:
          type: string
          minLength: 1
          title: Strength
          description: The strength of the medication.
        dose_form:
          allOf:
          - $ref: '#/components/schemas/DoseForm'
          description: The form of the medication.
        route_of_administration:
          allOf:
          - $ref: '#/components/schemas/RouteOfAdministration'
          description: The route of administration for the medication.
        extra:
          type: object
          title: Extra
          description: An optional dictionary containing additional information related to the drug or future prescription.
        expected_length_of_therapy:
          type: string
          title: Expected Length Of Therapy
          description: The expected length of therapy for the prescribed drug. Defaults to 'Until No Longer Needed' if not provided.
          examples:
          - Until No Longer Needed
          - 12 months
          - 6 weeks
        prescription_date:
          type: string
          format: date-time
          title: Prescription Date
          description: The date the prescription was issued
      type: object
      required:
      - days_supply
      - quantity
      - directions
      - drug_name
      - strength
      - dose_form
      - route_of_administration
      - prescription_date
      title: Prescription
      description: 'Represents a prescription issued by a healthcare provider. Prefer

        CodedPrescription when NDCs are available.'
    ClientInsuranceDocumentErrorDetailCode:
      type: string
      enum:
      - incorrect_member_id
      - incorrect_dob
      - incorrect_address
      - incorrect_phone_number
      - missing_member_id
      - medical_only_member_id
      - name_mismatch
      title: ClientInsuranceDocumentErrorDetailCode
      description: An enumeration.
    ProviderInfo:
      properties:
        first_name:
          type: string
          minLength: 1
          title: First Name
          description: The first name of the provider.
        last_name:
          type: string
          minLength: 1
          title: Last Name
          description: The last name of the provider.
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          title: Address
          description: The address of the provider.
        phone:
          type: string
          title: Phone
          description: The contact phone number of the provider.
        fax:
          type: string
          title: Fax
          description: The contact fax number of the provider.
        npi:
          type: string
          minLength: 1
          title: Npi
          description: The National Provider Identifier (NPI) of the provider.
        in_network_payers:
          items:
            type: string
          type: array
          title: In Network Payers
          description: List of insurance payers that the provider is in-network with. This is optional and no longer seems to have much of an impact on the verification process. You can omit this if it is not readily available information
      type: object
      required:
      - first_name
      - last_name
      - address
      - npi
      title: ProviderInfo
      description: Contains information about a healthcare provider.
    MockResult:
      properties:
        status:
          $ref: '#/components/schemas/MockResultStatus'
        case:
          allOf:
          - $ref: '#/components/schemas/MockResultCase'
          description: "The case to simulate for the benefit verification. The options are: \n- **drugs_covered__prior_auth_required__has_copay**: Drug is covered, prior authorization required, and there is a copay.\n- **drugs_covered__prior_auth_required__no_copay**: Drug is covered, prior authorization required, but there is no copay.\n- **drugs_covered__prior_auth_not_required__has_copay**: Drug is covered, no prior authorization required, and there is a copay.\n- **drugs_covered__prior_auth_not_required__no_copay**: Drug is covered, no prior authorization required, and there is no copay.\n- **drugs_not_covered__prior_auth_na__no_copay**: Drug is not covered, prior authorization not applicable (because the drug is not covered), and there is no copay.\n- **patient_consent_required**: Patient consent is required to proceed with the benefit verification.\n- **reverification__existing_pa**: Reverification case where an existing prior authorization is found. Coverage status and PA requirement will be N/A, with has_active_prior_auth set to true.\n- **reverification__no_existing_pa**: Reverification case where no existing prior authorization is found. Drug is covered, prior authorization required, with has_active_prior_auth set to false."
      type: object
      required:
      - status
      - case
      title: MockResult
    DrugCoverage:
      type: string
      enum:
      - covered
      - not_covered
      title: DrugCoverage
      description: An enumeration.
    PrescriptionTransferConfirmationAttempt:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
          description: Timestamp of confirmation attempt
        outcome:
          allOf:
          - $ref: '#/components/schemas/PrescriptionTransferConfirmationAttemptOutcome'
          description: Outcome of the transfer confirmation attempt
      type: object
      required:
      - timestamp
      - outcome
      title: PrescriptionTransferConfirmationAttempt
    ScannedContent:
      properties:
        client_name:
          type: string
          title: Client Name
          description: The client/employer name.
        group_number:
          type: string
          title: Group Number
          description: The group number on the card.
        member_name:
          type: string
          title: Member Name
          description: The member name on the card.
        member_number:
          type: string
          title: Member Number
          description: The member number on the card.
        payer_name:
          type: string
          title: Payer Name
          description: The payer name on the card. This field is not normalized, so the same plan may have different names depending on the way it appears on the card. i.e. 'United Healthcare', 'United', 'United Health' could all appear
        plan_name:
          type: string
          title: Plan Name
          description: The plan name on the card. This field is not normalized, so the same plan may have different names depending on the way it appears on the card
        rx_bin:
          type: string
          title: Rx Bin
          description: The Rx BIN number on the card.
        rx_group:
          type: string
          title: Rx Group
          description: The Rx group number on the card.
        rx_pcn:
          type: string
          title: Rx Pcn
          description: The Rx PCN number on the card.
        error:
          type: string
          title: Error
          description: Error message if we were unable to extract information from the card.
      type: object
      title: ScannedContent
    DrugCoverageInfo:
      properties:
        name:
          type: string
          title: Name
          description: The name of the drug.
        dosage:
          type: string
          title: Dosage
          description: The prescribed dosage of the drug.
        quantity:
          type: number
          title: Quantity
          description: The quantity of the drug prescribed.
        ndc:
          type: string
          title: Ndc
          description: The National Drug Code (NDC) of the drug. Read-only; this field is ignored on input and populated from the resolved drug data.
          readOnly: true
          nullable: true
        coverage:
          allOf:
          - $ref: '#/components/schemas/DrugCoverage'
          description: This field will start off as null and will be populated if the benefit verification is successfully completed. The drug coverage result
          nullable: true
        coverage_detail_code:
          allOf:
          - $ref: '#/components/schemas/CoverageDetailCode'
          description: 'This field will start off as null and will be populated if the benefit verification is successfully completed. The options are:

            - **insurer_reported_value**: This is the exact value that the insurer reported for the drug coverage.

            - **diagnoses_not_covered**: The drug is being reported as not covered due to this patient''s specific diagnosis codes.

            - **quantity_limit_pa_required**: The drug is covered but exceeds the plan''s dispense quantity limit, so prior authorization is required.'
          nullable: true
        prior_authorization_required:
          allOf:
          - $ref: '#/components/schemas/DrugPriorAuthorizationRequirement'
          description: This field will start off as null and will be populated if the benefit verification is successfully completed. A not_applicable value will be returned if the drug is not covered by the insurance plan.
          nullable: true
        copay:
          type: string
          title: Copay
          description: This field will start off as null and will be populated if the benefit verification is successfully completed and a copay is received.
          nullable: true
        copay_options:
          items:
            $ref: '#/components/schemas/CopayOption'
          type: array
          title: Copay Options
          description: A structured representation of the copay options for the drug.
          nullable: true
        determination_details:
          allOf:
          - $ref: '#/components/schemas/DrugCoverageDeterminationDetails'
          title: Determination Details
          description: A collection of more granular details surrounding the drug coverage determination.
          nullable: false
        has_active_prior_auth:
          type: boolean
          title: Has Active Prior Auth
          description: Whether there is an active prior authorization for this drug. Only set if operating if explicitly requested by the original API call.
          nullable: true
      type: object
      required:
      - name
      - dosage
      - quantity
      title: DrugCoverageInfo
      description: Represents information about a specific drug.
    Priority:
      type: integer
      enum:
      - 0
      - 1
      - 2
      - 3
      title: Priority
      description: 'Represents a priority level. Lower numbers are higher priority.


        - CRITICAL: 0

        - HIGH: 1

        - MEDIUM: 2

        - LOW: 3'
    Pharmacy:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: The name of the pharmacy.
        address:
          $ref: '#/components/schemas/Address'
      type: object
      required:
      - name
      title: Pharmacy
      description: "Represents a pharmacy.\n\nAttributes:\n    name (str): The name of the pharmacy.\n    address (Address): The pharmacy's postal address."
    PriorAuthFeedbackResponse:
      properties:
        status:
          anyOf:
          - type: string
            enum:
            - success
          - type: string
            enum:
            - error
          title: Status
          default: success
        error:
          $ref: '#/components/schemas/ApiError'
        data:
          type: 'null'
          title: Data
      type: object
      title: PriorAuthFeedbackResponse
      description: Response returned after feedback has been accepted.
    GetClinicalQualificationResponseData:
      properties:
        id:
          type: string
          title: Id
          description: The ID of this clinical qualification
        object:
          type: string
          enum:
          - clinical_qualification
          title: Object
          description: The type of object. This will always be 'clinical_qualification', from this endpoint, but this can be helpful for differentiating between different types of objects when parsing webhook responses.
          default: clinical_qualification
        diagnoses:
          items:
            $ref: '#/components/schemas/Diagnosis'
          type: array
          title: Diagnoses
          description: Clinical diagnoses for the patient in ICD-10 format. i.e. 'E66.9'
        evidence:
          items:
            $ref: '#/components/schemas/ResponseEvidenceItem'
          type: array
          title: Evidence
          description: A collection of evidence items supporting the authorization request. Any other supporting evidence that doesn't fit into one of the explicitly declared fields above can be added here.
        patient:
          allOf:
          - $ref: '#/components/schemas/Patient'
          title: Patient
          description: Demographic information for the patient
        insurance:
          items:
            $ref: '#/components/schemas/InsuranceDocumentInfo'
          type: array
          title: Insurance
          description: Array of insurance documents.
        drugs:
          items:
            $ref: '#/components/schemas/Drug'
          type: array
          title: Drugs
          description: Information regarding the potential prescriptions this clinical qualification check should be run for
        provider:
          allOf:
          - $ref: '#/components/schemas/Provider'
          title: Provider
          description: Details of the healthcare provider who created the prescription.
        pharmacy:
          allOf:
          - $ref: '#/components/schemas/Pharmacy'
          title: Pharmacy
          description: Information about the pharmacy where the prescription will be filled.
        questionnaires:
          items:
            $ref: '#/components/schemas/Questionnaire'
          type: array
          title: Questionnaires
          description: list of questionnaires. This is the best place to send structured Q&A format data, such as intake forms, etc.
        visit_notes:
          items:
            $ref: '#/components/schemas/VisitNote'
          type: array
          title: Visit Notes
          description: list of visit notes.
        results:
          items:
            $ref: '#/components/schemas/ClinicalQualificationResult'
          type: array
          title: Results
          description: The results of the clinical qualification for each of the drugs.
      type: object
      required:
      - id
      - diagnoses
      - patient
      - insurance
      - drugs
      - provider
      - results
      title: GetClinicalQualificationResponseData
    UpdateNDPSubmissionResponseData:
      properties:
        preferred_pharmacy_ncpdp_id:
          type: string
          title: Preferred Pharmacy Ncpdp Id
          description: The updated NCPDP ID of the preferred pharmacy.
      type: object
      title: UpdateNDPSubmissionResponseData
      description: Data payload returned after a successful NDP submission update.
    ProviderLookupStatus:
      type: string
      enum:
      - active
      - deactivated
      - not_found
      - registry_error
      - search_results
      title: ProviderLookupStatus
      description: Outcome of a provider lookup or search.
    EvidenceItem:
      properties:
        asset:
          allOf:
          - $ref: '#/components/schemas/Asset'
          title: Asset
          description: File asset containing the evidence. This is an alternative to the `content` field which must be unused or null if `asset` is provided.
        content:
          anyOf:
          - type: object
          - type: string
          title: Content
          description: Detailed content of the evidence, which varies based on the type of evidence.
        date_created:
          type: string
          format: date-time
          title: Date Created
          description: The date and time (if available) when the evidence was created. This is important for ensuring we have an accurate timeline of the patient's history.
        title:
          type: string
          title: Title
          description: Title of the evidence. This will be shown to users in the platform UI so it's recommended to give it a name that would be meaningful to them, such as 'Intake Form'
      type: object
      required:
      - date_created
      - title
      title: EvidenceItem
      description: Represents an item of evidence, which can include an associated digital asset.
    PracticeLocation:
      properties:
        address:
          $ref: '#/components/schemas/OptionalAddress'
        phone:
          type: string
          title: Phone
          description: The phone number the registry has for this practice location.
        fax:
          type: string
          title: Fax
          description: The fax number the registry has for this practice location.
      type: object
      required:
      - address
      title: PracticeLocation
      description: 'A single practice location: postal address paired with the contact

        methods (phone/fax) the registry reports for that address.


        Fax matters for prior authorizations (we fax PAs to the practice), and

        phone is useful for the user picking which location to operate on. Both

        are nullable since CMS does not report contacts for every location.'
    GetPriorAuthResponseData:
      properties:
        id:
          type: string
          title: Id
          description: The ID of this prior authorization
        object:
          type: string
          enum:
          - prior_authorization
          title: Object
          description: The type of object. This will always be 'prior_authorization', from this endpoint, but this can be helpful for differentiating between different types of objects when parsing webhook responses.
          default: prior_authorization
        url:
          type: string
          title: Url
          description: The URL where the Prior Authorization can be viewed.
        status:
          allOf:
          - $ref: '#/components/schemas/PriorAuthRequestStatus'
          description: The current status of the prior auth request.
        diagnoses:
          items:
            $ref: '#/components/schemas/Diagnosis'
          type: array
          title: Diagnoses
          description: Clinical diagnoses for the patient in ICD-10 format. i.e. 'E66.9'
        evidence:
          items:
            $ref: '#/components/schemas/ResponseEvidenceItem'
          type: array
          title: Evidence
          description: A collection of evidence items supporting the authorization request. Any other supporting evidence that doesn't fit into one of the explicitly declared fields above can be added here.
        patient:
          allOf:
          - $ref: '#/components/schemas/Patient'
          title: Patient
          description: Demographic information for the patient
        insurance:
          items:
            $ref: '#/components/schemas/InsuranceDocumentInfo'
          type: array
          title: Insurance
          description: Array of insurance documents.
        prescription:
          allOf:
          - $ref: '#/components/schemas/Prescription'
          title: Prescription
          description: Information regarding the prescription this prior authorization is being created for.
        provider:
          allOf:
          - $ref: '#/components/schemas/Provider'
          title: Provider
          description: Details of the healthcare provider who created the prescription.
        pharmacy:
          allOf:
          - $ref: '#/components/schemas/Pharmacy'
          title: Pharmacy
          description: Information about the pharmacy where the prescription will be filled.
        questionnaires:
          items:
            $ref: '#/components/schemas/Questionnaire'
          type: array
          title: Questionnaires
          description: List of questionnaires. This is the best place to send structured Q&A format data, such as intake forms, etc.
        visit_notes:
          items:
            $ref: '#/components/schemas/VisitNote'
          type: array
          title: Visit Notes
          description: List of visit notes.
        ndp_submission:
          allOf:
          - $ref: '#/components/schemas/PriorAuthRequestNDPSubmission'
          title: Ndp Submission
          description: Configuration for processing the prescription associated with this PA request.
        resubmission_info:
          allOf:
          - $ref: '#/components/schemas/PriorAuthRequestResubmissionInfo'
          title: Resubmission Info
          description: Information provided when resubmitting a prior authorization request.
        activity_log:
          items:
            oneOf:
            - $ref: '#/components/schemas/PriorAuthActivityLogSentFax'
            - $ref: '#/components/schemas/PriorAuthActivityLogReceivedFax'
            - $ref: '#/components/schemas/PriorAuthActivityLogFollowUpCall'
            discriminator:
              propertyName: type
              mapping:
                sent_fax: '#/components/schemas/PriorAuthActivityLogSentFax'
                received_fax: '#/components/schemas/PriorAuthActivityLogReceivedFax'
                follow_up_call: '#/components/schemas/PriorAuthActivityLogFollowUpCall'
          type: array
          title: Activity Log
          description: 'A list of activity log items for the prior authorization request.

            Note: additional item types will be added here in future, so please ensure that unknown types are ignored when parsing this array to avoid validation errors when new types are added.'
        submitted_by:
          allOf:
          - $ref: '#/components/schemas/User'
          title: Submitted By
          description: The user who submitted the prior authorization request.
        reviewed_by:
          allOf:
          - $ref: '#/components/schemas/User'
          title: Reviewed By
          description: The user who reviewed the prior authorization request.
        eligibility_check_response:
          items:
            anyOf:
            - $ref: '#/components/schemas/EligibilityCheckResponseSuccessItem'
            - $ref: '#/components/schemas/EligibilityCheckResponseErrorItem'
          type: array
          minItems: 1
          title: Eligibility Check Response
          description: Populated after the eligibility check has been made for the PA, if enabled
        real_time_benefits_check_response:
          allOf:
          - $ref: '#/components/schemas/RealTimeBenefitsCheckResponse'
          title: Real Time Benefits Check Response
          description: Populated after the real-time benefits check has been made for the PA, if enabled
        prescription_transfer:
          allOf:
          - $ref: '#/components/schemas/PrescriptionTransfer'
          title: Prescription Transfer
          description: Information about the prescription transfer status and attempts
        mock_result:
          anyOf:
          - $ref: '#/components/schemas/PriorAuthMockResultApproved'
          - $ref: '#/components/schemas/PriorAuthMockResultDenied'
          - $ref: '#/components/schemas/PriorAuthMockResultOther'
          - $ref: '#/components/schemas/PriorAuthMockResultNotSubmitted'
          title: Mock Result
          description: The mock result of the prior authorization request, if one was provided in the initial request
        out_of_pocket_costs:
          items:
            $ref: '#/components/schemas/CopayOption'
          type: array
          title: Out Of Pocket Costs
          description: List of copay options with amounts in cents and supply duration in days
        denial_reason_analysis:
          allOf:
          - $ref: '#/components/schemas/DenialReasonAnalysis'
          title: Denial Reason Analysis
          description: Analysis of the denial reason(s). Populated when the prior authorization request has been denied.
        message_thread:
          allOf:
          - $ref: '#/components/schemas/PlatformMessageThread'
          title: Message Thread
          description: Message thread for this prior authorization, including whether it is resolved and its messages.
        triggered_benefit_verification_id:
          type: string
          title: Triggered Benefit Verification Id
          description: The ID of the benefit verification triggered by this PA request, if one was configured.
        is_appeal:
          type: boolean
          title: Is Appeal
          description: Whether this prior authorization request is an appeal of a previously denied PA.
          default: false
        patient_consent_required:
          type: boolean
          title: Patient Consent Required
          description: Whether the payer currently requires verbal patient consent for this prior authorization.
          default: false
        outcome:
          oneOf:
          - $ref: '#/components/schemas/PriorAuthSubmissionApprovalOutcome'
          - $ref: '#/components/schemas/PriorAuthSubmissionDenialOutcome'
          - $ref: '#/components/schemas/PriorAuthSubmissionOtherOutcome'
          - $ref: '#/components/schemas/PriorAuthSubmissionPendingOutcome'
          - $ref: '#/components/schemas/PriorAuthSubmissionNotSubmittedOutcome'
          title: Outcome
          description: Details of the outcome of the prior authorization request.
          discriminator:
            propertyName: result
            mapping:
              Approved: '#/components/schemas/PriorAuthSubmissionApprovalOutcome'
              Denied: '#/components/schemas/PriorAuthSubmissionDenialOutcome'
              Other: '#/components/schemas/PriorAuthSubmissionOtherOutcome'
              Pending: '#/components/schemas/PriorAuthSubmissionPendingOutcome'
              Not Submitted: '#/components/schemas/PriorAuthSubmissionNotSubmittedOutcome'
      type: object
      required:
      - id
      - url
      - status
      - diagnoses
      - patient
      - insurance
      - provider
      - outcome
      title: GetPriorAuthResponseData
    PriorAuthMockResultNotSubmitted:
      properties:
        result:
          type: string
          enum:
          - Not Submitted
          const: Not Submitted
          title: Result
          description: The prior authorization request will not be submitted. For example, when the eligibility check is enabled and the check returns as error.
          default: Not Submitted
        detail_code:
          allOf:
          - $ref: '#/components/schemas/PriorAuthOutcomeNotSubmittedDetail'
          description: 'A code indicating the reason for the prior auth outcome. The possible values are:

            - **eligibility_check_error**: Indicates eligibility check encountered an error. Error details will be surfaced in the `eligibility_check_response` field. This status will not happen if `ndp_submission.ignore_eligibility_check_error` was set to True for the PA request.

            - **eligibility_check_government_plan**: Indicates that the eligibility check revealed the patient has only government insurance plan(s). The `eligibility_check_response` field will contain the successful eligibility check response. This status will not happen if `ndp_submission.submit_pa_with_eligibility_check_government_plan` was set to True for the PA request.

[...]
